body {
	font-family: "Roboto", sans-serif;
	background: #fff;
	margin: 0;
}

:root {
	--brand-color: #2196f3;
}

.web-studio {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.17;
	color: var(--brand-color);
	text-decoration: none;
}

.web {
	color: var(--brand-color);
}

.studio {
	color: #000000;
}

.link {
	color: #212121;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.19;
	letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
	color: var(--brand-color);
}

.contact-link1 {
	color: #757575;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.19;
	letter-spacing: 0.02em;
	display: flex;
	align-items: center;
	fill: #757575;
}

.contact-link1:hover,
.contact-link1:focus {
	color: var(--brand-color);
	fill: var(--brand-color);
}

.headline {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding-top: 200px;
	padding-bottom: 30px;
}

.service-button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	background: var(--brand-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	color: #ffffff;
	padding: 10px 42px;
	margin-bottom: 200px;
	border-radius: 4px;
}

.lorem {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	color: #212121;
}

.lorem-text {
	font-weight: 400px;
	font-size: 14px;
	line-height: 1.71;
	color: #757575;
}

.about-us {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.19;
	color: #212121;
	text-align: center;
	margin: 0;
	margin-bottom: 50px;
}

.our-team {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.19;
	color: #212121;
	text-align: center;
	margin: 0;
	margin-bottom: 50px;
}

.employee {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	color: #212121;
	text-align: center;
	margin-top: 30px;
}

.function {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	color: #757575;
	text-align: center;
	margin-bottom: 30px;
}

.contact {
	font-weight: 400;
	font-size: 14px;
	color: #757575;
	text-decoration: none;
	font-style: normal;
	color: rgba(255, 255, 255, 0.6);
}

.contact:hover,
.contact:focus {
	color: var(--brand-color);
}

.contact-phone {
	text-decoration: none;
	font-style: normal;
	color: rgba(255, 255, 255, 0.6);
}

.contact-phone:hover,
.contact-phone:focus {
	color: var(--brand-color);
}

.contact-phone:hover,
.contact-phone:focus {
	color: var(--brand-color);
}
.button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	cursor: pointer;
	color: #212121;
	border: none;
	border-radius: 4px;
	background-color: #f5f4fa;
	padding: 6px 22px;
}

.button-list {
	list-style: none;
	padding: 0;
}

.button:hover,
.button:focus {
	background-color: var(--brand-color);
	color: #fff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.head-text {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	color: #212121;
	margin: 0;
	margin-bottom: 4px;
}

.line-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 2;
	color: #757575;
	margin: 0;
}

.studio-footer {
	color: #ffffff;
}

.adress-footer {
	font-size: 14px;
	line-height: 1, 71;
	letter-spacing: 0.03em;
	color: #ffffff;
	text-decoration: none;
}

.color-section {
	background-color: #2f303a;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
		url(../images/mainimg.jpg);
	background-position: center;
	background-size: 1600px;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.color-footer {
	background-color: #2f303a;
	padding-block: 60px;
}

.color-team {
	background-color: #f5f4fa;
}

.employee-photo {
	width: 270px;
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	margin: 0;
}

.adress-footer {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #ffffff;
	text-decoration: none;
	font-style: normal;
}

.portfolio-images {
	background-color: #fff;
	width: 370px;
	height: 404px;
	border: 1px solid #eee;
	margin: 0;
}

.portfolio-images:hover,
.portfolio-images:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}

.header-body {
	display: flex;
	align-items: center;
	gap: 50px;
	justify-content: space-between;
	padding: 24px 0;
}

.nav-flex {
	display: flex;
	gap: 46px;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.list-display {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 0;
}

.section {
	padding-block: 93px;
}

.img-display {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

.img2-display {
	display: flex;
	gap: 30px;
	flex-direction: row;
	flex-wrap: wrap;
}

.button-flex {
	display: flex;
	gap: 8px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.div-flex {
	display: flex;
	gap: 93px;
	align-items: center;
}

.link-flex {
	display: flex;
	gap: 50px;
	align-items: center;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.ffffff {
	padding: 20px 24px;
}

.web-studio-margin {
	margin-bottom: 20px;
}

.adress-flex {
	display: flex;
	gap: 9px;
	flex-direction: column;
}

.div-border {
	border: 1px solid #ececec;
}

.about-us-padding {
	padding-bottom: 94px;
}

.icon-background {
	background-color: #f5f4fa;
	padding-block: 25px;
	padding-inline: 100px;
	margin-bottom: 30px;
}

h4 {
	margin: 0;
}

.smart-phone {
	margin-right: 10px;
}

.about-us-icons {
	display: flex;
	justify-content: space-around;
	padding: 0 27px 0;
	background: var(--main-white-color);
	gap: 10px;
	margin: 0;
	margin-inline: 32px;
}

.social-media {
	fill: #afb1b8;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: block;
	margin-bottom: 30px;
}

.social-media:hover,
.social-media:focus {
	background-color: var(--brand-color);
	fill: #fff;
}

.social-media use {
	display: block;
	transform: translate(25%, 25%);
}

.our-customers-flex {
	display: flex;
	flex-direction: row;
	fill: #afb1b8;
	gap: 30px;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 32px;
	border: 1px solid #afb1b8;
	border-radius: 5%;
}

.icons:hover,
.icons:focus {
	border-color: var(--brand-color);
	fill: var(--brand-color);
}

.join-us {
	color: #fff;
	font-size: 14px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.42px;
	text-transform: uppercase;
}

.jprdl {
	display: flex;
	flex-direction: row;
	gap: 10px;
	fill: #fff;
}

.flex-footer {
	display: flex;
	flex-direction: row;
	gap: 60px;
	align-items: baseline;
}

.icons-design {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
}

.icons-design use {
	display: block;
	transform: translate(25%, 25%);
}

.icons-design:hover,
.icons-design:focus {
	background-color: var(--brand-color);
	fill: #fff;
}
